<% include header %>
<a href="https://www.instagram.com/voguemagazine/"> <img class="instagram" src="http://logomecca.com/wp-content/uploads/2015/07/instagram_black_logo_png_font_typeface_square_android_icon_vector_png_eps_button_free_download_font_black_and_white_transparent_background_maker_ai_file_adobe_illustrator_for_tumblr1.png"></a>
<a href="https://www.facebook.com/Vogue/?hc_ref=SEARCH&fref=nf"> <img class="facebook" src="http://www.canningbridgecycles.com.au/wp-content/uploads/2010/04/facebook-logo-black.jpg"></a>
<a href=""> <img class="voguelogo" src="http://logodownload.org/wp-content/uploads/2014/11/vogue-logo-4.png"></a>




  <% var teller = 1; %>
  <% nieuws.forEach(function(item){ %>
    <section>
        <h2 class="title">
          <a href=/items/<%- item.id %>><%- item.titel %></a>
        </h2>
        <img src="/img/<%- item.afbeeldings %>" alt="<%- item.titel %>">
        <p><%- item.datum %></p>

        <p>
          <%- item.samenvatting %>
        </p>
    </section>
    <% teller++;}); %>


<% include footer %>
<nav>
  <h3>Categorieën:</h3>
  <% for (var i = 0; i < categorieen.length; i++) { %>
    <a href="/categorieen/<%- i %>"><%- categorieen[i] %></a>
  <% } %>
</nav>
